.countitemsLeft {
  width: 30px;
  margin-right: 5px;
}

.countitemsRight {
  width: 30px;
  margin-left: 5px;
}

.counterShell {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px
}

.addItem {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40px;
}

.img {
  width: 350px;
  height: 280px;
}

.item {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  border: 1px solid grey;
  margin-top: 5px;
  position: relative;
};
